// .action-buttons {
//   display: flex;
//   flex-direction: column;
//   gap: 1rem;
//   padding: 1rem;
// }

// button {
//   width: 100%;
//   margin-bottom: 0.5rem;
// }

// mat-accordion {
//   width: 100%;
//   max-width: 600px;
//   margin: 0 auto;
// }

// mat-expansion-panel {
//   margin-bottom: 0.5rem;
// }
